
@{
    ViewData["Title"] = "Details";
}

@*<h2>Activity Details</h2>*@

@**@
@**@
@*Container for the Activity detail page*@
<div class="jumbotron">



    <table class="table table-hover">

        <tbody>

            <tr>
                <th scope="row" rowspan="2">
                    <img style="height: 200px; width: 300px; display: block;" src="" alt="Card image">
                </th>
                <td><h3>CLass Name Here</h3></td>
             </tr>

             <tr>
                <td><button type="button" class="btn btn-primary btn-lg">SAVE</button></td>
                <td><button type="button" class="btn btn-secondary btn-lg">PAY</button></td>
             </tr>
            
        </tbody>
    </table>

    <p class="lead">Activity Date Here</p>
    <p class="lead">Activity Capacity</p>



    <hr class="my-4">
    <h4>Activity Detail</h4>
    <p>Activity Detail Here Activity Detail Here Activity Detail Here Activity Detail Here Activity Detail Here </p>

    <p>
        <!--Google map-->
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11543.682307787521!2d-79.3865296!3d43.6706216!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe2028002e7a6144a!2zQmxvb3LigJNZb25nZQ!5e0!3m2!1sen!2sca!4v1540958405917" 
                width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
    </p>


</div>