@model IEnumerable<WhatSAP.Models.Activity>


<html lang="en">

<body>
    <link rel="stylesheet" href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker.css" />
    <script src="~/js/site.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>

    <script>
        $(document).ready(function () {
            $('.datepicker-me').datepicker({
                format: 'dd-mm-yyyy',

            });
        });
    </script>
    <br />
    <div class="row mb-2">
        <div class="col-md-3">
            <strong>Date:</strong>
            <form class="form-inline my-2 my-lg-0">
                <div class="input-group date datepicker-me" data-provide="datepicker">

                    <input type='text' class="form-control mr-sm-2" placeholder="Search the date" style="width:150px">
                    <button class="btn btn-success" type="submit">Search</button>

                </div>
            </form>
        </div>
        <div class="col-md-3">

            <strong> Keyword:</strong>
            <form class="form-inline my-2 my-lg-0">

                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="width:150px">
                <button class="btn btn-success" type="submit">Search</button>
            </form>
        </div>
        <div class="col-md-3">

            <form>
                <div class="form-group">
                    <label for="formControlRange"><strong>Price</strong></label>
                    <input type="range" class="form-control-range" id="formControlRange">
                </div>
            </form>
        </div>
        <div class="col-md-3">
            <strong> Category</strong>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Choose a Category
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div>
        </div>
    </div>

    <hr />
    <main role="main" class="container">

        <br />
        <div class="row mb-2">
            <div class="col-md-3">
                <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                    <div class="card-body d-flex flex-column align-content-center">

                        <strong class="text-primary">Sports Class</strong>
                    </div>
                    <img class="card-img-right flex-auto d-none d-lg-block" src="~/images/activities/Sportsclass.jpg" alt="Card image cap" style="height:70px">
                </div>
            </div>
            <div class="col-md-3">
                <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="text-primary">Lesson&Class</strong>
                    </div>
                    <img class="card-img-right flex-auto d-none d-lg-block" src="~/images/activities/Craftclass.jpg" alt="Card image cap" style="height:70px">
                </div>
            </div>
            <div class="col-md-3">
                <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="text-primary">Indoor activity</strong>
                    </div>
                    <img class="card-img-right flex-auto d-none d-lg-block" src="~/images/activities/Indoor.jpg" alt="Card image cap" style="height:70px">
                </div>
            </div>
            <div class="col-md-3">
                <div class="card flex-md-row mb-4 shadow-sm h-md-250">
                    <div class="card-body d-flex flex-column align-items-start">
                        <strong class="text-primary">Outdoor activity</strong>
                    </div>
                    <img class="card-img-right flex-auto d-none d-lg-block" src="~/images/activities/Outdoor.jpg" alt="Card image cap" style="height:70px">
                </div>
            </div>
        </div>

        <partial name="~/Views/Shared/_SearchResult.cshtml" />

    </main>



</body>
</html>
