@model WhatSAP.Models.Cart.PaymentViewModel
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    var customer = WhatSAP.Helpers.SessionHelper.GetObjectFromJson<Customer>(HttpContextAccessor.HttpContext.Session, "customer");
}

<!-- Custom styles for this template -->
<link href="form-validation.css" rel="stylesheet">

<div class="container">
    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your cart</span>
                <span class="badge badge-secondary badge-pill">@ViewBag.Cart.Count</span>
            </h4>
            <ul class="list-group mb-3">
                @foreach (var cart in ViewBag.Cart)
                {
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <h6 class="my-0">@cart.Activity.ActivityName</h6>
                            <small class="text-muted">Number of People:@cart.NumOfPeople</small>
                        </div>
                        <span class="text-muted">$@cart.Activity.Price</span>
                    </li>
                }

                <li class="list-group-item d-flex justify-content-between bg-light">
                    <div class="text-success">
                        <h6 class="my-0">Promo code</h6>
                        <small>EXAMPLE CODE</small>
                    </div>
                    <span class="text-success">-$5</span>
                </li>

                <li class="list-group-item d-flex justify-content-between">
                    <span>Total (CAD)</span>
                    <strong>$@(ViewBag.Total - 5)</strong>
                </li>
            </ul>

            @*<form class="card p-2">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Promo code">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-secondary">Redeem</button>
                        </div>
                    </div>
                </form>*@
        </div>

        @*<div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="save-info">
            <label class="custom-control-label" for="save-info">Save this information for next time</label>
        </div>*@
        <hr class="mb-4">

        @*<div class="d-block my-3">
                <div class="custom-control custom-radio">
                    <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked required>
                    <label class="custom-control-label" for="credit">Credit card</label>
                </div>
                <div class="custom-control custom-radio">
                    <input id="debit" name="paymentMethod" type="radio" class="custom-control-input" required>
                    <label class="custom-control-label" for="debit">Debit card</label>
                </div>
                <div class="custom-control custom-radio">
                    <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required>
                    <label class="custom-control-label" for="paypal">Paypal</label>
                </div>
            </div>*@
        <hr />

        <form role="form" asp-action="Checkout">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <input asp-for="CustomerId" type="hidden" value="@customer.CustomerId" />
            </div>

            <div class="form-group">
                <input asp-for="Amount" type="hidden" value="@(ViewBag.Total - 5)"/>
            </div>

            <div class="row">
                <div class="col-md-6 mb-3">
                    <div class="form-group">
                        <label asp-for="NameOnCard"></label>
                        <input type="text" class="form-control" id="cc-name" asp-for="NameOnCard">
                        <span asp-validation-for="NameOnCard" class="text-danger"></span>
                    </div>
                </div>

                <div class="col-md-6 mb-3">
                    <div class="form-group">
                        <label asp-for="CardNumber"></label>
                        <input type="text" class="form-control" id="cc-number" asp-for="CardNumber">
                        <span asp-validation-for="CardNumber" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 mb-3">
                    <div class="form-group">
                        <label asp-for="Expiration"></label>
                        <input type="text" class="form-control" id="cc-expiration" asp-for="Expiration">
                        <span asp-validation-for="Expiration" class="text-danger"></span>
                    </div>
                </div>
                <div class=" col-md-3 mb-3">
                    <div class="form-group">
                        <label asp-for="CVV">CVV</label>
                        <input type="text" class="form-control" id="cc-cvv" asp-for="CVV">
                        <span asp-validation-for="CVV" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">Continue to checkout</button>
            <button class="btn btn-default" type="reset">Reset</button>
            <hr />
        </form>
    </div>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
<script src="../../assets/js/vendor/popper.min.js"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
<script src="../../assets/js/vendor/holder.min.js"></script>
<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
        'use strict';

        window.addEventListener('load', function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');

            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (form) {
                form.addEventListener('submit', function (event) {
                    if (form.checkValidity() === false) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
            });
        }, false);
    })();
</script>