@model WhatSAP.Models.Account.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h2>Register</h2>
<fieldset class="account">
    <h2>New Client Registration</h2>

    <br />

    <form role="form" asp-action="Register">
        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="FirstName"></label>
            <input type="text" asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="LastName"></label>
            <input type="text" asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="EmailAddress"></label>
            <input type="email" asp-for="EmailAddress" class="form-control" />
            <span asp-validation-for="EmailAddress" class="ftext-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Password"></label>
            <input type="password" asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="ConfirmPassword"></label>
            <input type="password" asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="UserType" class="control-label">User type</label>
            <select asp-for="UserType" class="form-control">
                <option>Client</option>
                <option>Customer</option>
            </select>
        </div>
        <br />
        <div>
            <label>&nbsp;</label>
            <button type="submit" class="btn btn-primary">Register now</button>
            <button type="reset" class="btn btn-primary">Reset</button>
        </div>


    </form>
</fieldset>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
